<mat-card-header class="header">
    <mat-card-title class="header">{{titulo}} </mat-card-title><br>
    <mat-card-subtitle class="header"> Raza</mat-card-subtitle>
</mat-card-header>

<form [formGroup]="form" (ngSubmit)="save()" fxLayout.xs="row wrap" fxLayout="column">

    <mat-form-field>
        <mat-label>Nombre Raza</mat-label>
        <input formControlName="nombre" name="nombre" matInput placeholder="Ingrese Nombre De Raza">
        <mat-error *ngIf="!this.form.hasError('required')">
            Por favor ingrese un nombre de raza
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Especie</mat-label>
        <mat-select formControlName="especie" name="especie">
            <mat-option *ngFor="let especie of especies" [value]="especie._id">{{especie.especie}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button [disabled]="form.invalid" type="submit" class="btn" mat-dialog-close mat-raised-button color="primary"><mat-icon>save</mat-icon> {{tituloBoton}}</button>
    </div>
    <br>
</form>